/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* IMPORTANT NOTE! Some of these CSS naming conventions clash with / share the same global name to some elements in Login.style.css.
Perhaps look into fixing / changing these names if you notice elements unintentionally changing on the Login Page. i.e, .body, .formcontainer etc */

/* Reset and Base Styles */
body {
  margin: 0;
  padding: 0;
  color: #212A31; /* Managed in Dashboard.tsx */
  font-family: 'Montserrat', sans-serif;
}

/* Layout Containers */
.gridContainer {
  display: grid;
  grid-template-columns: 260px auto; 
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}

/* Sidebar */
.sidebar, .sidebar * {
  box-sizing: border-box; /* This ensures padding is included in the width calculation */
}

.sidebar {
  display: flex;
  flex-direction: column;
  background:#0e080e;
  width: 230px;
  height: calc(100vh - 100px);
  position: fixed;
  left: 25px;
  top: 50px;
  overflow-y: auto;
  padding-top: 80px; /* Further increased top padding for more space */
  padding-bottom: 20px; /* Bottom padding for aesthetic balance */
  box-shadow: 0 20px 12px #270606c7;
  border-radius: 40px;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center; 
  padding: 0px; 
}

.logoImage {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
}


.title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 40px 0; /* Increased padding below the logo */
}

.sidebarList {
  list-style-type: none;
  padding: 0;
  margin-top: 60px; /* Further increased margin to move items down more */
  margin-bottom: 20px;
  flex-grow: 1;
}

.sidebarListItem {
  margin-bottom: 10px;
}

.sidebarListItem a, .sidebarBottomLink { /* Apply similar styles to the bottom link */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: #ffffff;
  padding: 25px 40px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensures full width usage */
}

.sidebarListItem a:hover, .sidebarListItem a.active, .sidebarBottomLink:hover {
  background-color: rgb(233, 116, 98);
}

.sidebarSettings {
  margin-top: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebarBottomLink {
  text-align: left; /* Align text to the left */
}


/* Main Container Styles */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Space between this section and the power curve */
}

.searchAndIcons {
  display: flex;
  align-items: center;
  position: absolute; /* Absolute positioning relative to nearest positioned ancestor */
  right: 10%; /* Adjust based on the exact placement you want */
}

.searchIcon {
  color:rgb(0, 0, 0);
  position: absolute; /* Absolute position within the container */
  left: 10px; /* Adjust this value to move the icon left or right */
  height: 100%; /* Match height of the container */
  display: flex;
  align-items: center; /* Center the icon vertically */
  z-index: 20;
}

.searchInput {
  display: flex;
  align-items: center;
  position: relative; /* Ensure the container is positioned */
  width: 400px; /* Increase width for a wider appearance */
  height: 50px;
  padding: 8px 16px;
  padding-right: 280px;
  border: 0.01px solid rgba(0, 0, 0, 0.37); /* More distinct border for a clear outline */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.144); /* Lighter transparency for a glass effect */
  backdrop-filter: blur(10px); /* Increased blur for a stronger frosted glass effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  color: rgb(0, 0, 0); /* White text color */
  outline: none;
  font-size: 16px;
}

.searchInput::placeholder {
  color: rgb(0, 0, 0) !important; 
}

.bellIcon {
  color: #000000; /* White icon color */
  margin-left: 40px; /* Space between search bar and bell icon */
  font-size: 30px; /* Icon size */
}

.profileIcon {
  width: 60px; /* Profile icon size */
  height: 60px; /* Profile icon size */
  background-color: #ffffff; /* White background for the icon */
  border-radius: 50%; /* Makes it circular */
  margin-left: 40px; /* Space between bell icon and profile icon */
  background-image: url('/path/to/your/profile/image.jpg'); /* Path to your profile image */
  background-size: cover;
  background-position: center;
} 

.mainContainerLanding {
  position: fixed;
  left: 260px;
  right: 4%;
  top: 5%;
  bottom: 5%;
  overflow-y: auto;
  padding: 20px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
  background-color: rgba(255, 255, 255, 0.068);  /* Equivalent to #ffffff10 */
  border-radius: 10px;  /* More noticeable curvature */
  border: 0.1px solid #00000052;  /* Specifies style and color together */
}

/* Style for the Dashboard Title */
.dashboardTitle {
  width: 90%; /* Ensures the title spans most of the container width */
  margin-bottom: 10px; /* Space between title and content */
  font-size: 42px; /* Adjust font size as needed */
  color: rgb(0, 0, 0); /* Adjust color as needed */
  align-self: flex-start; /* Aligns the title to the left */
  padding-left: 20px;
}

/* Positioning for container that contains heart rate, calendar and v02 */
.heartRateCalSection{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* Container within the main container to be able to stack calendaron vo2 */
.calV02Box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  width: 20%; /* Adjust if necessary */
  margin-left: 2.5%;
  transition: 1s;
}

/* Style for the Heart Rate Window */
.heartRateWindow {
  width: 75%;
  background-color: #e97462 ;
  border-radius: 8px;
  padding: 50px;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s; /* Center-align children horizontally */
}
.heartRateWindow:hover{
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}

/* Style for side-by-side components */
.sideBySideComponents {
  width: 100%;
  display: flex;
  flex-direction: row;  /* Explicitly define as row for clarity */
  justify-content: flex-start;
  overflow: hidden;
  height: auto; /* Align components to the start of the container */
}

.SessionsProfileWindow {
  width: 35%;  
  background-color: #e97462;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 80px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.SessionsProfileWindow:hover{
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}

.PerformanceTipsWindow {
  width: 30%;  
  background-color: #e97462;
  border-radius: 8px;
  padding: 50px;
  margin-bottom: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-right: 7.5%;
  overflow: scroll;
  transition: 1s;
}

.PerformanceTipsWindow:hover{
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}

.radarChart {
  width: 15%;  
  background-color: #e97462;
  border-radius: 8px;
  margin-bottom: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 2%;
  transition: 1s;

}

.radarChart:hover {
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;

}

.componentTextVO2{
  font-size: 18px; 
  color: rgb(0, 0, 0); 
  margin-bottom: 10px; 
  margin-top: 20px;
  text-align: center; 
}

.VO2Window {
  flex: 1;
  align-self: center;
  width: 50%;
  background-color: #e97462;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  transition: 1s;
}

.VO2Window:hover{
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}

.calendarWindow {
  background-color: #e97462 ;  /* Light background for the calendar */
  color:rgb(0, 0, 0);            /* Dark text for better visibility */
  border-radius: 8px;        /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Optional: adding some shadow for depth */
  margin-bottom: 20px;
  transition: 1s;
}
.calendarWindow:hover{
  transform:scale(1.01);
  background: #ebebeb;
  box-shadow: 2px 2px 2px #000;
  z-index: 2;
}

.MuiPickersCalendarHeader-weekDayLabel {
  color: rgb(255, 255, 255) !important;
}


.calIcon{
  width: 15%;
  height: 15%;
  position: fixed;
  top: 20px;
  bottom: 20px;
  right: 50px;
  color: #e97462;
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
}

.calendarWindow h3{
  position: fixed;
  left: 50px;
  top: 20px;
}

.calendarWindow p {
  align-items: center;
}

.SessionsProfileWindow h1{
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}


.SessionsProfileWindow table{
  table-layout: fixed;
  width: 100%;
  align-content: flex-start;
  left: 15px;
  background-color: #D3D9D4;
}

.SessionsProfileWindow tbody{
  background:#e97462d8  ;
  color: #000000;
  
}

.SessionsProfileWindow td{
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 125%;
  font-size: 17px;
  margin-right: 40px;

}

.SessionsProfileWindow th{
  color: white;
}

.sort-button{
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: white;
  cursor: pointer;

}
.PerformanceTipsWindow h1{
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Sample text styling within component windows */
.componentText {
  font-size: 20px; /* Standard text size for content */
  color: rgb(0, 0, 0); 
}

.PerformanceTipsWindow{
  overflow: hidden;
}
.PerformanceTipsWindow ul{
  align-items: center;
  font-size: 20px;
  overflow: hidden;
}

.PerformanceTipsWindow h3{
  font-size: 24px;
}


/* Responsive Media Queries */
@media screen and (max-width: 992px) {
  .gridContainer {
    grid-template-columns: 260px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .mainCards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .headerLeft {
    display: none;
  }
}





/* Top Section for Power Curve Data Visualization (Data & Predictions Test Page*/

.mainContainerDataPred {
  /* Removed position: fixed and related properties */
  overflow-y: auto;
  z-index: 500;
  display: flex;
  flex-direction: column;
  margin-top: 50px; /* Adds top space similar to 'top: 150px;' in fixed positioning */
  width: 100%; /* Full width if needed, adjust as necessary */
}


.chartTitle {
  width: 90%; /* Ensures the title spans most of the container width */
  margin-bottom: 10px; /* Space between title and content */
  font-size: 42px; /* Adjust font size as needed */
  color: #fff; /* Adjust color as needed */
  align-self: flex-start; /* Aligns the title to the left */
  padding-left: 12%;
}


.topSection {
  padding: 20px;
  background-color: #2a2f33; 
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: auto;  /* Center horizontally */
  margin-right: auto;  /* Center horizontally */
  border-radius: 8px; 
  width: 50%;
}

.chartPlaceholder {
  height: 300px; 
  background-color: #f3f3f3; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px dashed #cccccc; 
  color: #666666; 
  font-size: 16px;
}

/* Form Container */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #2a2f33; 
  border-radius: 8px; 
}

.formLabel {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #ffffff;
}

.formInput, .formSelect {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #3a3f44;
  color: #ffffff;
  width: 100%;  /* Ensure all input elements have the same width */
  box-sizing: border-box;  /* Include padding and border in the element's total width and height */
}

.formButton {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff3465;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #ff577a;
}


/* Bottom Section for Drag and Drop CSV Files */
.bottomSection {
  padding: 20px;
  width: 70%;
  background-color: #32373c; 
  border-radius: 8px; 
  margin: auto;
  margin-top: 50px;
}

.dragDropArea {
  height: 200px; 
  border: 2px dashed #FF3465; 
  color: #FF3465; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
  text-align: center;
}

.dragDropArea:hover {
  background-color: #1e1e1e; 
}

.dragDropArea p {
  margin: 5px 0; 
}

.filePreview {
  margin-top: 20px;
  border: 1px solid #ccc; 
  padding: 10px;
  background-color: #f9f9f9; 
  color: #000; 
  overflow: auto; 
  height: 250px; 
  width: 100%; 
}

.filePreview table {
  width: 100%; 
  border-collapse: collapse; 
}

.filePreview th, .filePreview td {
  border: 1px solid #ddd;
  padding: 8px; 
  text-align: left; 
}

.filePreview th {
  background-color: #4a90e2; 
  color: white; 
}

.resetButton {
  display: block; 
  background-color: #FF3465;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto 20px; 
}


