.settings-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light theme */
.settings-container.light {
  background-color: #f9f9f9;
  color: #333;
}

/* Dark theme */
.settings-container.dark {
  background-color: #1e1e1e;
  color: #ddd;
}

.settings-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-section {
  padding: 15px;
  border-radius: 8px;
  background-color: inherit; /* Adapt to the theme */
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1); /* Light theme default */
}

.settings-container.dark .settings-section {
  border-color: rgba(255, 255, 255, 0.2); /* Dark theme border */
}

.settings-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  margin-right: 10px;
}

.form-group input[type="password"],
.form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: inherit; /* Adapt to the theme */
  color: inherit; /* Adapt text color */
}

.settings-container.dark .form-group input[type="password"],
.settings-container.dark .form-group select {
  border-color: rgba(255, 255, 255, 0.2); /* Adjust for dark theme */
}

.toggle-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-list {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
}

.activity-list li {
  margin-bottom: 5px;
}

.form-actions {
  text-align: center;
}

.save-button {
  padding: 10px 20px;
  background-color: #e97462;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #b3a7b7;
}

.settings-container.dark .save-button {
  background-color: #555;
}

.settings-container.dark .save-button:hover {
  background-color: #888;
}

  